<!DOCTYPE html>
<html lang="en">

<head>
    <title>기운팜팜</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">


    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>

<div class="site-wrap">


    <div class="site-navbar py-2">

        <div class="search-wrap">
            <div class="container">
                <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
                <form action="#" method="post">
                    <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
                </form>
            </div>
        </div>

        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <div class="site-logo">
                        <a href="index"><img src="images/logo2.jpg" alt="" width="250" height="80"></a>
                    </div>
                </div>
                <div class="main-nav d-none d-lg-block">
                    <nav class="site-navigation text-right text-md-center" role="navigation">
                        <ul class="site-menu js-clone-nav d-none d-lg-block">
                            <li class="has-children">
                                <a href="shop">Shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop_heart">심장 &amp; 신경</a></li>
                                    <li><a href="shop_ent">이비인후과</a></li>
                                    <li><a href="shop_eye">안과</a></li>
                                    <li><a href="shop_urology">비뇨기과 &amp; 항문</a></li>
                                    <li><a href="shop_allergy">알레르기 &amp; 구충제</a></li>
                                    <li><a href="shop_tooth">치과</a></li>
                                    <li><a href="shop_vitamin">비타민</a></li>
                                    <li><a href="shop_etc">그 외</a></li>
                                </ul>
                            </li>
                            <li><a href="custom">Custom</a></li>
                            <li><a href="tips">Tips</a></li>
                            <li><a href="location">Locate</a></li>
                            <li><a href="login">Login</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="icons">
                    <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
                    <a href="mypage" class="icons-btn d-inline-block bag">
                        <span class="icon-person"></span>
                    </a>
                    <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                            class="icon-menu"></span></a>
                </div>
            </div>
        </div>
    </div>


    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="index">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Shop</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="bg-light rounded p-3">
                        <p class="mb-0">더 구매하실 것이 남아있다면 <a href="shop" class="d-inline-block"> 여기</a>를 눌러 물건을 더 담아보세요!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">주문서</h2>
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="user_name" class="text-black">이름<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="user_name" name="user_name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_address" class="text-black">주소 <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_address" name="c_address" placeholder="시,군,구 (도로명)">
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="세부주소">
                        </div>

                        <div class="form-group row mb-5">
                            <div class="col-md-12">
                                <label for="c_phone" class="text-black">핸드폰 번호<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="-없이 작성해주세요.">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="c_order_notes" class="text-black">주문 메세지</label>
                            <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                                      placeholder="약사님께 전할 말이 있으시면 작성해주세요."></textarea>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">쿠폰 코드</h2>
                            <div class="p-3 p-lg-5 border">

                                <label for="c_code" class="text-black mb-3">가지고 계신 쿠폰이 있으시면 이곳에 적어주세요.</label>
                                <div class="input-group w-75">
                                    <input type="text" class="form-control" id="c_code" placeholder="Coupon Code" aria-label="Coupon Code"
                                           aria-describedby="button-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-sm px-4" type="button" id="button-addon2">적용</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">주문 내역</h2>
                            <div class="p-3 p-lg-5 border">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                    <th>상품</th>
                                    <th>총 합</th>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>신신파스<strong class="mx-2">x</strong> 1</td>
                                        <td>2600원</td>
                                    </tr>
                                    <tr>
                                        <td>락토핏 <strong class="mx-2">x</strong> 1</td>
                                        <td>9900원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>장바구니 총 금액</strong></td>
                                        <td class="text-black">12500원</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>최종 금액</strong></td>
                                        <td class="text-black font-weight-bold"><strong>12500원</strong></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div class="border mb-3">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button"
                                                           aria-expanded="false" aria-controls="collapsecheque">신용카드</a></h3>

                                    <div class="collapse" id="collapsecheque">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="border mb-5">
                                    <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button"
                                                           aria-expanded="false" aria-controls="collapsepaypal">무통장 입금</a></h3>

                                    <div class="collapse" id="collapsepaypal">
                                        <div class="py-2 px-4">
                                            <p class="mb-0">준비중</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-lg btn-block" onclick="window.location='thankyou'">주문 완료</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <footer class="site-footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

                    <div class="block-7">
                        <h3 class="footer-heading mb-4">About <strong class="text-primary">Pharmative</strong></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quae reiciendis distinctio voluptates
                            sed dolorum excepturi iure eaque, aut unde.</p>
                    </div>

                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                    <h3 class="footer-heading mb-4">Navigation</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Supplements</a></li>
                        <li><a href="#">Vitamins</a></li>
                        <li><a href="#">Diet &amp; Nutrition</a></li>
                        <li><a href="#">Tea &amp; Coffee</a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                            <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                            <li class="email">emailaddress@domain.com</li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                        with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                                                                             class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>

            </div>
        </div>
    </footer>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>

</html>