<!DOCTYPE html>
<html lang="en">

<head>
  <title>기운팜팜</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/magnific-popup.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">


  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index"><img src="images/logo2.jpg" alt="" width="250" height="80"></a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children">
                  <a href="shop">Shop</a>
                  <ul class="dropdown">
                    <li><a href="shop_heart">심장 &amp; 신경</a></li>
                    <li><a href="shop_ent">이비인후과</a></li>
                    <li><a href="shop_eye">안과</a></li>
                    <li><a href="shop_urology">비뇨기과 &amp; 항문</a></li>
                    <li><a href="shop_allergy">알레르기 &amp; 구충제</a></li>
                    <li><a href="shop_tooth">치과</a></li>
                    <li><a href="shop_vitamin">비타민</a></li>
                    <li><a href="shop_etc">그 외</a></li>
                  </ul>
                </li>
                <li><a href="custom">Custom</a></li>
                <li><a href="tips">Tips</a></li>
                <li><a href="location">Locate</a></li>
                <li><a href="login">Login</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="mypage" class="icons-btn d-inline-block bag">
              <span class="icon-person"></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
  
    <div class=" py-2 bg-image overlay " style="background-image: none">
      <div class="container">
        <div class="row">
          <div class="col-md-20 mb-0">
            <a href="shop_heart"><span class="text-white">심장/신경</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_ent"><span class="text-white">이비인후과</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_eye"><span class="text-white">안과</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_urology"><span class="text-white">비뇨기과/항문</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_allergy"><span class="text-white">알레르기/구충제</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_tooth"><span class="text-white">치과</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_vitamin"><span class="text-white">비타민</span></a><span class="mx-2 mb-0">|</span>
            <a href="shop_etc"><span class="text-white">그 외</span></a><span class="mx-2 mb-0">|</span>
            </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-2">
      <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong><span class="mx-2 mb-0">/</span><strong class="text-black">안과</strong> </div>
        </div>
      </div>
    </div>

    
    <div class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">가격 순 정렬</h3>
            <div id="slider-range" class="border-primary"></div>
            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
          </div>
          <div class="col-lg-6 text-lg-right">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter</h3>
            <button type="button" class="btn btn-primary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
              data-toggle="dropdown">정렬</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
              <a class="dropdown-item" href="#">인기순</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">상품명(오름차순)</a>
              <a class="dropdown-item" href="#">상품명(내림차순)</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">가격(오름차순)</a>
              <a class="dropdown-item" href="#">가격(내림차순)</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="title-section text-center col-12">
            <h2>안과</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="shop-single"> <img src="images/product_01.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Bioderma</a></h3>
            <p class="price"><del>95.00</del> &mdash; $55.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_02.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Chanca Piedra</a></h3>
            <p class="price">$70.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_03.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Umcka Cold Care</a></h3>
            <p class="price">$120.00</p>
          </div>
    
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
    
            <a href="shop-single"> <img src="images/product_04.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Cetyl Pure</a></h3>
            <p class="price"><del>45.00</del> &mdash; $20.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_05.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">CLA Core</a></h3>
            <p class="price">$38.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="shop-single"> <img src="images/product_06.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Poo Pourri</a></h3>
            <p class="price"><del>$89</del> &mdash; $38.00</p>
          </div>

          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="shop-single"> <img src="images/product_01.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Bioderma</a></h3>
            <p class="price"><del>95.00</del> &mdash; $55.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_02.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Chanca Piedra</a></h3>
            <p class="price">$70.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_03.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Umcka Cold Care</a></h3>
            <p class="price">$120.00</p>
          </div>
          
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
          
            <a href="shop-single"> <img src="images/product_04.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Cetyl Pure</a></h3>
            <p class="price"><del>45.00</del> &mdash; $20.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <a href="shop-single"> <img src="images/product_05.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">CLA Core</a></h3>
            <p class="price">$38.00</p>
          </div>
          <div class="col-sm-6 col-lg-4 text-center item mb-4 item-v2">
            <span class="onsale">Sale</span>
            <a href="shop-single"> <img src="images/product_06.png" alt="Image"></a>
            <h3 class="text-dark"><a href="shop-single">Poo Pourri</a></h3>
            <p class="price"><del>$89</del> &mdash; $38.00</p>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <div class="site-block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About <strong class="text-primary">기운팜팜</strong></h3>
              <p>가천대학교 컴퓨터공학과 20-2학기 졸업프로젝트(박영서, 김소현, 김예지)에 의해 만들어진 웹사이트 입니다. </p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Navigation</h3>
            <ul class="list-unstyled">
              <li><a href="shop">Shop</a></li>
              <li><a href="custom">Custom</a></li>
              <li><a href="tips">Tips</a></li>
              <li><a href="location">Locate</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">경기도 성남시 성남대로1342 가천대학교</li>
                <li class="phone"><a href="tel://23923929210">000-0000-0000</a></li>
                <li class="email">zxc@gachon.ac.kr</li>
              </ul>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>

</body>

</html>